{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="body">
  <div class="form-container">
    <div class="form-content">
      <div class="form-left">
        <form id="loginForm" class="form" action="{{ path('login') }}" method="post">
          <h2>Login!</h2>
          <p>Enter your details to continue:</p>
          <input
            type="email"
            name="email"
            placeholder="Email"
            id="email"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            id="pwd"
          />
  
          <a href="{{ path('signup') }}">Don't have an account? Sign Up now</a>
  
          <button type="submit" class="submit-btn">
            Login
          </button>
        </form>
      </div>

      <div class="form-right">
        <img src="{{ asset('images/signup.jpg') }}" alt="Mountains" class="form-image" />
      </div>
    </div>
  </div>
</div>
<script src="{{ asset('js/login.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
