{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="body">
  <div class="form-container">
    <div class="form-content">
          <h2>Login!</h2>
          <p>Enter your details to continue:</p>
            {{form(form)}}
          <a href="{{ path('signup') }}">Don't have an account? Sign Up now</a>

      </div>

      
</div>
<script src="{{ asset('js/login.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
